# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs
.idea/
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# Expo
.expo/
dist/
web-build/

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Prisma
packages/database/prisma/*.db

# Vercel
.vercel

# Supabase
supabase/.branches
supabase/.temp
